Repository brandonchinn178/persistent-mtl: changes, and which pre-commit hooks are due for each by the changed paths.
All: hlint, fourmolu

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
        exclude: '\.golden$'
      - id: trailing-whitespace
      - id: no-commit-to-branch
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: hlint
        name: hlint
        language: system
        entry: hlint
        files: '\.hs$'
        exclude: |
          (?x)^(
              src/Database/Persist/Monad/Shim.hs
            | src/Database/Persist/Monad/SqlQueryRep.hs
            | test/Generated.hs
            | test/SqlQueryRepTest.hs
          )$

      - id: fourmolu
        name: fourmolu
        language: system
        entry: fourmolu -i
        files: '\.hs$'

Run fourmolu
  scripts/generate/GeneratePersistentAPI.hs
  src/Control/Monad/IO/Rerunnable.hs
  src/Database/Persist/Monad.hs
  src/Database/Persist/Monad/Class.hs
  src/Database/Persist/Monad/Internal/PersistentShim.hs
  src/Database/Persist/Monad/TestUtils.hs
  test/Basic.hs
  test/Example.hs
  test/Integration.hs
  test/MockSqlQueryT.hs
  test/Mocked.hs
  test/SqlQueryRepTest.hs
  test/TestUtils/DB.hs
  test/TestUtils/Esqueleto.hs
Due: hlint, fourmolu

Fix tasty-autocollect comments
  test/Basic.hs
  test/Integration.hs
  test/MockSqlQueryT.hs
  test/Mocked.hs
  test/SqlQueryRepTest.hs
Due: hlint, fourmolu

Fix some formatting
  scripts/generate/GeneratePersistentAPI.hs
Due: hlint, fourmolu

Update CI image
  .circleci/config.yml
Due: none

Fix for persistent 2.14.1
  scripts/generate/templates/Shim.mustache
  scripts/generate/templates/SqlQueryRep.mustache
  src/Database/Persist/Monad/Shim.hs
  src/Database/Persist/Monad/SqlQueryRep.hs
Due: fourmolu

Rename 'Basic' test suite to 'README'
  persistent-mtl.cabal
  test/README.hs
Due: hlint, fourmolu

Add 'Test' suffix to test modules
  persistent-mtl.cabal
  test/IntegrationTest.hs
  test/Main.hs
  test/MockedTest.hs
  test/READMETest.hs
Due: hlint, fourmolu

Move MockSqlQueryT tests into MockedTest.hs
  persistent-mtl.cabal
  test/MockSqlQueryT.hs
  test/MockedTest.hs
Due: hlint, fourmolu

Switch to GitHub actions
  .circleci/config.yml
  .github/workflows/ci.yml
  .github/workflows/pr-review-comment.yml
Due: none

Update README badges
  README.md
Due: none

Add new shim re-exporting Persist functions
  persistent-mtl.cabal
  scripts/generate/GeneratePersistentAPI.hs
  scripts/generate/templates/SqlShim.mustache
  src/Database/Persist/Sql/Shim.hs
Due: hlint, fourmolu

Bump resolver for GeneratePersistentAPI.hs
  scripts/generate/GeneratePersistentAPI.hs
Due: hlint, fourmolu

Add Database.Persist.Sql.Shim
  .pre-commit-config.yaml
  persistent-mtl.cabal
  scripts/generate/templates/SqlShim.mustache
  src/Database/Persist/Sql/Shim.hs
Due: hlint, fourmolu

Add changelog entry for #57
  CHANGELOG.md
Due: none

Upgrade hlint
  .github/workflows/ci.yml
Due: none

Add MonadFix instances
  CHANGELOG.md
  src/Database/Persist/Monad.hs
Due: hlint, fourmolu

Add getSqlBackendPool
  CHANGELOG.md
  src/Database/Persist/Monad.hs
Due: hlint, fourmolu

Move out rerunnableLift
  CHANGELOG.md
  persistent-mtl.cabal
  src/Control/Monad/Trans/Rerunnable.hs
  src/Database/Persist/Monad.hs
Due: hlint, fourmolu

Break out SqlTransaction into internal module
  persistent-mtl.cabal
  src/Database/Persist/Monad.hs
  src/Database/Persist/Monad/Internal/SqlTransaction.hs
Due: hlint, fourmolu

Rename SqlTransaction constructor
  src/Database/Persist/Monad/Internal/SqlTransaction.hs
Due: hlint, fourmolu

Break out SqlTransactionEnv
  src/Database/Persist/Monad.hs
  src/Database/Persist/Monad/Internal/SqlTransaction.hs
Due: hlint, fourmolu

Add catchSqlTransaction
  CHANGELOG.md
  src/Database/Persist/Monad.hs
  src/Database/Persist/Monad/Internal/SqlTransaction.hs
  test/IntegrationTest.hs
Due: hlint, fourmolu

Add retryCallback
  CHANGELOG.md
  src/Database/Persist/Monad.hs
  test/IntegrationTest.hs
Due: hlint, fourmolu

Update github actions
  .github/workflows/ci.yml
Due: none

Bump version
  CHANGELOG.md
  package.yaml
  persistent-mtl.cabal
Due: none

Add release workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/GetVersion.hs
  scripts/make-release.sh
  scripts/make_release.py
Due: hlint, fourmolu

Update CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  scripts/GetVersion.hs
  scripts/make-release.sh
  scripts/make_release.py
Due: hlint, fourmolu

Fix CHANGELOG check in release.yml
  .github/workflows/release.yml
Due: none

Fix cabal file
  .github/workflows/release.yml
Due: none

Update 9.0 snapshot
  stack-ghc-9.0.yaml
  stack.yaml.lock
Due: none

Add GHC 9.2 + 9.4 snapshots
  .github/workflows/ci.yml
  CHANGELOG.md
  package.yaml
  persistent-mtl.cabal
  stack-ghc-9.2.yaml
  stack-ghc-9.4.yaml
  test/Example.hs
Due: hlint, fourmolu

Release v0.5.0.1
  CHANGELOG.md
  package.yaml
  persistent-mtl.cabal
Due: none

Upgrade fourmolu
  .github/workflows/ci.yml
  src/Database/Persist/Monad/Internal/SqlTransaction.hs
Due: hlint, fourmolu

Change haddock-style
  fourmolu.yaml
  scripts/generate/GeneratePersistentAPI.hs
  src/Control/Monad/IO/Rerunnable.hs
  src/Control/Monad/Trans/Rerunnable.hs
  src/Database/Persist/Monad.hs
  src/Database/Persist/Monad/Internal/SqlTransaction.hs
  src/Database/Persist/Monad/TestUtils.hs
Due: hlint, fourmolu

Use function-arrows: leading-args
  fourmolu.yaml
  src/Database/Persist/Monad/Internal/SqlTransaction.hs
  test/IntegrationTest.hs
Due: hlint, fourmolu

Generate with Jinja instead of mustache
  scripts/generate/.gitignore
  scripts/generate/generate.py
  scripts/generate/run.sh
  scripts/generate/templates/Shim.jinja
  scripts/generate/templates/SqlQueryRep.jinja
  scripts/generate/templates/SqlShim.jinja
  scripts/generate/templates/TestHelpers.jinja
  scripts/generate/templates/macros.jinja
  src/Database/Persist/Monad/Shim.hs
  src/Database/Persist/Monad/SqlQueryRep.hs
  src/Database/Persist/Sql/Shim.hs
  test/Generated.hs
Due: hlint, fourmolu

Bump resource-pool upper bound
  package.yaml
  persistent-mtl.cabal
Due: none

Bump upper bound for unliftio-pool
  package.yaml
  persistent-mtl.cabal
Due: none

Update README badge
  README.md
Due: none

Bump bounds
  package.yaml
  persistent-mtl.cabal
Due: none
